<pre>
- use this for help with models and select
  - https://www.youtube.com/watch?v=KTkB1ebfWDg
- name your repo acme-directory-with-manager
- files
- server.js (~25 loc)
- routes
    -index (~60 loc)
- db
    - conn.js (~3 loc)
    - Employee.js (~ 45 loc)
      - email field
      - name - getterMethod
      - emailProvider - getterMethod
      - plus associations so an employee can have a manager
      - and manage one or more employees
    - index.js (~ 25 loc)
- views
    - layout.html
    - index.html
    - employees.html
</pre>
